<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">담소 관리자</title>
    <link rel="stylesheet" href="/css/common.css">
    <script type="module" src="/script/nav.js"></script>

    <th:block th:if="${additionalCss}">
        <link th:href="${additionalCss}" rel="stylesheet">
    </th:block>
</head>
<body>
<header th:fragment="header">
    <nav th:replace="fragments/nav :: nav"></nav>
</header>
</body>
</html>
