<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">담소 관리자</title>
    <link rel="stylesheet" href="/css/layout.css">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.0/json-enc.js"></script>

    <th:block th:if="${additionalCss}">
        <link th:href="${additionalCss}" rel="stylesheet">
    </th:block>
</head>
<body>
<header th:fragment="header">
    <nav class="nav-container">
        <!-- 타이틀 -->
        <div class="nav-title">
            <a th:href="@{/}">담소 관리자</a>
        </div>

        <!-- 네비게이션 메뉴 -->
        <ul id="nav-menu" class="nav-menu"></ul>
        <div hidden="hidden" hx-get="/hx/menu" hx-trigger="load" hx-target="#nav-menu" hx-swap="outerHTML"></div>
    </nav>
</header>

<footer th:fragment="footer">
    <p>© 2024 담소 관리자. All rights reserved.</p>
</footer>
</body>
</html>
