<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="admin-nav-container">
    <div class="admin-nav-title">
        <a th:href="@{/}">담소 관리자</a>
    </div>

    <ul class="admin-nav-menu">
        <li>
            <a th:href="@{/members}" data-icon="👥">회원 관리</a>
        </li>
        <li>
            <a th:href="@{/admins}" data-icon="🔐">관리자 권한 관리</a>
        </li>
        <li>
            <a th:href="@{/logout}" data-icon="🚪">로그아웃</a>
        </li>
    </ul>
</nav>
</body>
</html>
