HELP.md
bin/
files/
*.pb
*.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

## Gradle ##
.gradle/
build/
!gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/generated/**
.gradle/cache/
.gradle/daemon/
.gradle/workspace/
.gradle/buildOutputCleanup/
!gradlew
!gradlew.bat

## Spring Boot ##
logs/
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## local ##
*-local.yml
/java_pid*

## file upload ##
/uploads/*
!/uploads/images/
!/uploads/videos/