<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<!-- Image Upload Fragment -->
<div th:if="${storyType} == 'IMAGE'"
     th:fragment="story-upload-image"
     th:each="image : ${files}"
     class="p-2 bg-white shadow rounded relative">
    <img th:src="${image}"
         class="w-full rounded"
         alt="이미지 없음">
    <button type="button"
            class="remove-image-button absolute top-2 right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center">
        ×
    </button>
</div>
</html>