<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:hx-on="http://www.w3.org/1999/xhtml"
      lang="ko">
<ul th:fragment="guest-menu"
    class="nav-menu flex items-center gap-6">
    <li>
        <a th:href="@{/categories}" data-icon="📂" class="flex items-center gap-2 text-lg hover:text-blue-500">
            카테고리
        </a>
    </li>
    <li>
        <a th:href="@{/creators/popular}" data-icon="⭐" class="flex items-center gap-2 text-lg hover:text-blue-500">
            인기 크리에이터
        </a>
    </li>
    <li>
        <a th:href="@{/login}" data-icon="🔑" class="flex items-center gap-2 text-lg hover:text-blue-500">
            로그인
        </a>
    </li>
</ul>

<ul th:fragment="user-menu"
    class="nav-menu flex items-center gap-6">
    <li>
        <a th:href="@{/categories}" data-icon="📂" class="flex items-center gap-2 text-lg hover:text-blue-500">
            카테고리
        </a>
    </li>
    <li>
        <a th:href="@{/creators/popular}" data-icon="⭐" class="flex items-center gap-2 text-lg hover:text-blue-500">
            인기 크리에이터
        </a>
    </li>
    <li>
        <a href="#"
           data-icon="✒"
           id="create-story-btn"
           hx-post="/api/stories"
           hx-trigger="click"
           hx-confirm="스토리를 작성하시겠습니까?"
           hx-swap="none"
           hx-on::after-request="handleCreateStoriesResponse(event)"
           class="flex items-center gap-2 text-lg hover:text-blue-500">
            스토리 작성
        </a>
    </li>

    <li class="relative group">
        <div class="flex items-center gap-2 cursor-pointer">
            <img src="/favicon.ico" alt="프로필 사진" class="w-9 h-9 rounded-full border">
            <span th:text="${info.name()}" class="text-lg font-medium"></span>
        </div>
        <ul class="user-submenu absolute hidden bg-white shadow-lg rounded-md overflow-hidden group-hover:block right-0 w-48">
            <li><a th:href="@{/subscriptions}" class="block px-4 py-2 hover:bg-blue-500 hover:text-white">내 구독</a>
            </li>
            <li><a th:href="@{/notifications}" class="block px-4 py-2 hover:bg-blue-500 hover:text-white">알림</a>
            </li>
            <li><a th:href="@{/settings}" class="block px-4 py-2 hover:bg-blue-500 hover:text-white">설정</a></li>
            <li><a href="#"
                   hx-post="/api/auth/logout"
                   hx-trigger="click"
                   hx-swap="none"
                   hx-on::after-request="window.location.reload()"
                   class="block px-4 py-2 hover:bg-blue-500 hover:text-white">
                로그아웃
            </a></li>
        </ul>
    </li>
</ul>
</html>