<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/layout :: head">
    <title>로그인</title>
</head>
<body class="member-list-page">
<header th:replace="fragments/layout :: header"></header>

<main>
    <div class="jumbotron jumbotron-fluid">
        <h1>Member List</h1>
        <div>
            <label for="filter-memberId">Member ID</label>
            <input type="text"
                   id="filter-memberId"
                   name="memberId"
                   class="filter"
                   th:value="${filter.memberId}"/>

            <label for="filter-email">Email</label>
            <input type="text"
                   id="filter-email"
                   name="email"
                   class="filter"
                   th:value="${filter.email}"/>

            <label for="filter-name">Name</label>
            <input type="text"
                   id="filter-name"
                   name="name"
                   class="filter"
                   th:value="${filter.name}"/>

            <label for="filter-status">Status</label>
            <select id="filter-status" name="status" class="filter">
                <option value="" th:selected="${filter.status == null}">--Select--</option>
                <option th:each="option : ${statusOptions}"
                        th:value="${option.value}"
                        th:text="${option.description}"
                        th:selected="${filter.status == option.value}">
                </option>
            </select>

            <label for="filter-startDate">Start Date</label>
            <input type="date" id="filter-startDate"
                   name="startDate"
                   class="filter"
                   th:value="${filter.startDate}"/>

            <label for="filter-endDate">End Date</label>
            <input type="date"
                   id="filter-endDate"
                   name="endDate"
                   class="filter"
                   th:value="${filter.endDate}"/>

            <!-- 검색 버튼 -->
            <button hx-get="/hx/members"
                    hx-target="#tableContainer"
                    hx-trigger="click">
                Search
            </button>

            <button hx-get="/members"
                    hx-push-url="/members"
                    hx-trigger="click">
                Clear
            </button>

            <button hx-get="/api/members/export"
                    hx-boost="true">
                Download
            </button>

            <button hx-get="/modals/member/add"
                    hx-target="#memberModal"
                    hx-trigger="click">
                Add
            </button>
        </div>

        <!-- 초기 테이블 및 페이지네이션 렌더링 -->
        <div id="tableContainer" th:replace="hx/member/memberListContainer :: memberListContainer"></div>

        <!-- 모달 영역 -->
        <div id="memberModal" class="modal"
             hx-target="this" hx-swap="outerHTML"></div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script>
    document.addEventListener('htmx:configRequest', function (evt) {
        if (evt.detail.path === '/hx/members') {
            const filters = document.querySelectorAll('.filter');
            let params = new URLSearchParams();

            // 필터 파라미터 추가
            filters.forEach(filter => filter.value && params.append(filter.name, filter.value));

            // 페이지네이션 버튼에서 page 값 가져오기
            params.set('page', evt.target.getAttribute('data-page') || 0);
            params.set('limit', evt.detail.parameters.limit ? evt.detail.parameters.limit : 1);

            // 실제 요청 경로 수정
            evt.detail.path = '/hx/members?' + params.toString();

            // 브라우저 URL 수정
            window.history.pushState({}, '', '/members?' + params.toString());
        }
    });
</script>
</body>
</html>
