<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="story-container"
     id="story-container"
     hx-swap-oob="true"
     class="relative flex-grow bg-white flex justify-center items-center max-w-xl w-full aspect-[9/16] border border-gray-300 rounded-xl shadow-md overflow-hidden">
    <div th:if="${page.storyType.code} == 'TEXT'"
         class="quill-container w-full h-full bg-white text-gray-900 p-4 rounded-md shadow-lg overflow-auto">
        <div class="ql-editor" th:utext="${page.text}"></div>
    </div>
    <div th:if="${page.storyType.code} == 'IMAGE'"
         class="w-full h-full flex flex-col items-center justify-start overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400">
        <img th:each="image : ${page.files}"
             th:src="${image}"
             class="object-contain max-w-full max-h-full w-auto h-auto mb-4 last:mb-0"
             alt="">
    </div>
    <div th:if="${page.storyType.code} == 'VIDEO'"
         class="w-full h-full flex flex-col items-center justify-start overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400">
        <video th:each="video : ${page.files}"
               controls class="max-w-full max-h-full w-auto h-auto mb-4 last:mb-0">
            <source th:src="${video}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <button id="prev-page"
            class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 p-3 rounded-full shadow hover:bg-opacity-100 transition"
            th:hx-get="@{'/hx/stories/' + ${page.storyId} + '/pages/' + ${page.prevPageId}}"
            hx-trigger="click"
            hx-target="#story-container"
            hx-swap="innerHTML"
            th:disabled="${page.prevPageId == null}">
        ◀
    </button>
    <button id="next-page"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 p-3 rounded-full shadow hover:bg-opacity-100 transition"
            th:hx-get="@{'/hx/stories/' + ${page.storyId} + '/pages/' + ${page.nextPageId}}"
            hx-trigger="click"
            hx-target="#story-container"
            hx-swap="innerHTML"
            th:disabled="${page.nextPageId == null}">
        ▶
    </button>
</div>
</html>
